<img src="/assets/images/qrcode-wechat.jpg" title="扫一扫关注微信公众号：晴耕小筑" width="86px" class="qrcode" />
<img src="/assets/images/qrcode-youku.png" title="扫一扫关注优酷自频道：晴耕小筑" width="86px" class="qrcode" />

<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="12a342df-8e3a-4ac7-8e13-a8bf30e9dfea" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="e84aa6bb-bcbc-41d0-8c93-ef9ca96796e5" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="ffd15a36-6517-4553-b1b1-338a77036155" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

<!--<a href="https://github.com/morningspace/" target="_blank"><img src="http://ghchart.rshah.org/morningspace" title="My GitHub Contributions" alt="My GitHub Contributions" style="margin-top:-16px" /></a>-->

<!-- donate -->
<!--
<a href="/donate" class="donate-button">赏</a>
<script>
  ((window.gitter = {}).chat = {}).options = {
    room: 'morningspace/community'
  };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
-->