  <li>
    <a href="https://morningspace.medium.com" itemprop="sameAs">
      <i class="fab fa-fw fa-medium" aria-hidden="true"></i> Medium
    </a>
  </li>
  <li>
    <a href="https://www.youtube.com/channel/UCRFLHaVUn7bNvWLK8nFAVJA" itemprop="sameAs">
      <i class="fab fa-fw fa-youtube" aria-hidden="true"></i> YouTube
    </a>
  </li>
  <li>
    <a href="http://i.youku.com/morningspace" itemprop="sameAs">
      <i class="fas fa-fw fa-play-circle" aria-hidden="true"></i> Youku
    </a>
  </li>
