---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content h3 { padding-bottom: 0.5em; border-bottom: 1px solid #51555d; }

.page__content li, .page__content p { font-size: 0.85em; }
.page__content .toc__menu li { font-size: 1em; }

.pagination--pager { padding: 0.5em 2em; }

.search-content .search-input { font-size: 1.5em; }

div.highlighter-rouge, figure.highlight { background: #000; color: #fff; font-size: 0.7em; }
.highlight .nb, .highlight .n, .highlight .p, .highlight .gh, .highlight .ni, 
.highlight .nl, .highlight .py, .highlight .w, .highlight .sc, .highlight .bp { color: #fff; }

input, textarea, select { background-color: #363f51; }
.form-group { font-size: 90%; }
.comment { font-size: 90%; }